* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

body {
  background-color: #0c0c0c;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  width: 1440px;
  max-width: 90%;
  height: 100%;
  margin: 0 auto;
}

.App {
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
  transform-origin: 0 75%;
}
.container_App {
  perspective: 1400px;
  position: relative;
}

.btn {
  display: block;
  padding: 10px 25px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #1a1e50;
  transition: 0.2s;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  color: rgb(226, 226, 226);
  width: fit-content;
}
.btn::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(226, 226, 226);
  left: 100%;
  transition: 0.2s;
  top: 0;
}
.btn:hover::before {
  left: 0;
  z-index: -1;
}
.btn:hover {
  color: #1a1e50;
}
