.NavIndecator {
  height: 100%;
  position: absolute;
  top: 0;
  padding-top: 10%;
  left: 6%;
  &_list {
    height: 80%;
    border-left: 1px solid rgba($color: #fff, $alpha: 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    padding-left: 10px;
  }
  &_link {
    position: relative;
    font-weight: 100;

    &-page {
      white-space: nowrap;
      opacity: 0;
    }

    &-number {
    }

    &.active {
      .NavIndecator_link-page {
        white-space: nowrap;
        opacity: 1;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          display: block;
          width: 3px;
          height: 6px;
          background-color: rgb(15, 51, 255);
          left: -12px;
          top: calc(50% - 3px);
        }
      }
      .NavIndecator_link-number {
        position: absolute;
        left: -40px;
      }
    }
  }
}
