.Nav {
  &_list {
    background-color: inherit;
    position: absolute;
    // display: none;
    right: 20%;
    top: 20%;
    font-size: 55px;
    font-weight: 900;
    line-height: 1.5;
  }
  &_link {
    position: relative;

    &::before {
      content: '';
      width: 120%;
      left: -10%;
      height: 10px;
      background-color: blue;
      position: absolute;
      top: 50%;
      display: none;
    }
    &.active::before {
      display: block;
    }
  }
  &-appear {
    opacity: 0;
    transform: scale(0);
  }
  &-appear-active {
    opacity: 0;
    transform: scale(0);
    transition: opacity 200ms, transform 200ms;
  }
  &-enter {
    opacity: 0;
    transform: scale(0.5);
  }
  &-enter-done {
    top: 50%;
    opacity: 1;
    transform: scale(1) translate(0, 20vh);
    transition: opacity 400ms, transform 300ms;
  }
  &-exit {
    top: 50%;
    opacity: 1;
    transform: scale(1) translate(0, 20vh);
    transition: opacity 400ms, transform 300ms;
  }
  &-active-exit {
    opacity: 0;
    transform: scale(0);
    transition: opacity 200ms, transform 200ms;
  }
  &-done-exit {
    opacity: 0;
    transform: scale(0);
  }
}
